@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cormorant Garamond", serif;
}

body,
html {
    height: 100dvh;
    width: 100dvw;
    background: #0e1a26;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.page-content.front-cover-page {
    background: url('./assets/front_cover.png') no-repeat center;
    background-size: contain;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    position: relative;
    background: url('./assets/page.png') no-repeat center;
    background-size: contain;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    text-align: left;
    color: #000;
}

.entry-date{
    margin-left: 90px;
}
.page-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    text-align: left;
    color: #000;
}

.title-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #000;
}

.title-header {
    font-size: 40px;
    margin-bottom: 20px;
}

.title-page-content p {
    font-size: 20px;
    line-height: 28px;
}

.preface-header,
.toc-header,
.notes-header,
.contributions-header {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 40px 0;
    color: #000;
}

.preface-text,
.notes-text {
    text-align: justify;
    padding: 0 40px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.5px;
}

.toc {
    padding: 0 40px;
    font-family: 'Cormorant Garamond', serif;
}

.toc-section {
    margin-bottom: 10px;
}

.toc-title {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}

.toc-text {
    font-size: 16px;
}

.page-content h3 {
    font-size: 27px;
    font-style: italic;
    margin-bottom: 15px;
}

.page-content p {
    font-size: 20px;
    line-height: 25px;
    margin-left: 40px;
    margin-bottom: 12px;
}

.page-number {
    padding: 20px;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    font-family: 'Cormorant Garamond', serif;
    color: #000;
}

.left-page .page-number {
    left: 15px;
}

.right-page .page-number {
    right: 15px;
}

.contributions-text {
    text-align: center;
    color: #000;
    line-height: 25px;
}

.section-title {
    font-size: 22px;
}

.contributions-text p {
    font-size: 20px;
}

.page-content.back-cover-page {
    background: url('./assets/back_cover.png') no-repeat center;
    background-size: contain;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}